#formsection
{
    height: 100vh;
    display: flex;
    width:100%;
    
    margin-top:20px; 
}
.card
{
    opacity:0.9;
    margin-top:auto;
}
#contactlist
{
    margin-top:20px;
    height: 100vh;
    display: flex;
    width:100%;
}
